{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
    <title>Orphanage</title>
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" />
    <link rel="stylesheet" href="{% static ' https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap' %}"/>
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  </head>




  <!-- Body Section -->
  <body>
    <div class="main-wrapper">

      <!-- *************Header Area******************* -->
       <div class="header" style="background-color:#fff ;" >
        <div class="header-left" style="background-color:#000;">
          <a href="{% url 'Volunteer_Home' %}" class="logo">
            <style>
            h5 {
              display: inline-block;
              font-weight: bold;
            }
            </style>
            <h5 style="color:#fff;">Orphanage</h5>  <h5 style="color:rgb(254, 82, 2)"> Management</h5>
          </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fas fa-align-left" style="color:#000;"></i>
        </a>
        <div class="top-nav-search">
          <form>
            <input type="text" class="form-control" placeholder="Search here" style="border-color:#000;" />
            <button class="btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <a class="mobile_btn" id="mobile_btn">
          <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
          <li class="nav-item dropdown noti-dropdown">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="far fa-bell"></i>
              <span class="badge badge-pill">3</span>
            </a>
            <div class="dropdown-menu notifications">
              <div class="topnav-dropdown-header">
                <span class="notification-title">Notifications</span>
                <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
              </div>
              <div class="noti-content">
                <ul class="notification-list">
                  <li class="notification-message">
                    <a href="#">
                      <div class="media">
                        <span class="avatar avatar-sm">
                          <img
                            class="avatar-img rounded-circle"
                            alt="User Image"
                            src="{% static 'assets/img/profiles/avatar-02.jpg' %}"
                          />
                        </span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">Carlson Tech</span> has
                            approved
                            <span class="noti-title">your estimate</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">4 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="#">
                      <div class="media">
                        <span class="avatar avatar-sm">
                          <img
                            class="avatar-img rounded-circle"
                            alt="User Image"
                            src="{% static 'assets/img/profiles/avatar-11.jpg' %}"
                          />
                        </span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title"
                              >International Software Inc</span
                            >
                            has sent you a invoice in the amount of
                            <span class="noti-title">$218</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">6 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="#">
                      <div class="media">
                        <span class="avatar avatar-sm">
                          <img
                            class="avatar-img rounded-circle"
                            alt="User Image"
                            src="{% static 'assets/img/profiles/avatar-17.jpg' %}
                            
                            "
                          />
                        </span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">John Hendry</span> sent a
                            cancellation request
                            <span class="noti-title">Apple iPhone XR</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">8 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="notification-message">
                    <a href="#">
                      <div class="media">
                        <span class="avatar avatar-sm">
                          <img
                            class="avatar-img rounded-circle"
                            alt="User Image"
                            src="{% static 'assets/img/profiles/avatar-13.jpg' %}"
                          />
                        </span>
                        <div class="media-body">
                          <p class="noti-details">
                            <span class="noti-title">Mercury Software Inc</span>
                            added a new product
                            <span class="noti-title">Apple MacBook Pro</span>
                          </p>
                          <p class="noti-time">
                            <span class="notification-time">12 mins ago</span>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="topnav-dropdown-footer">
                <a href="#">View all Notifications</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <span class="user-img"
                ><img
                  class="rounded-circle"
                  src="{{user.image.url}}"
                  width="31"
                  alt="Ryan Taylor"
              /></span>
            </a>
            <div class="dropdown-menu">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img
                    src="{{user.image.url}}"
                    alt="User Image"
                    class="avatar-img rounded-circle"
                  />
                </div>
                <div class="user-text">
                  <h6 style="font-weight:bold;margin-top:10px;">{{user.fname}} {{user.lname}}</h6>
                 
                </div>
              </div>
              <a class="dropdown-item" href="{% url 'V_Profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'Volunteer_Home' %}">Home</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
        </ul>
      </div> 
      <!-- ********************************End Of Header Area *************************-->


      <!-- ********************************Start of SideBar Area ********************* -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li class="menu-title">
                <span>Main Menu</span>
              </li>

              <!-- Orphanage Profile Area -->
              <li class="submenu">
                <a href="#"
                id="user_account"
                  ><i class="fas fa-user"></i> <span>Account</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a id="user_prof" href="{% url 'V_Profile' %}">Profile</a></li>
                  <li><a href="{% url 'apply_leave' %}">Apply leave</a></li>
                  <li><a href="{% url 'volunteer_view_leaves' %}">View leave Status</a></li>
                </ul>
              </li>

              <!-- Children's(Orphans) Area -->
              <li class="submenu">
                <a href="#"
                  ><i class="fas fa-user-graduate"></i> <span>Donations</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url 'volunteer_viewdonation' %}">View Donation Request</a></li>
                  <!-- <li><a href="{% url 'children_add' %}">Children Add</a></li> -->
                </ul>
              </li>
<!-- 
              <li class="submenu">
                <a href="#"><i class="fas fa-chalkboard-teacher"></i>
                  <span>Volunteer</span> <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="{% url 'volunteer_list' %}">Volunteer List</a></li>
                  <li><a href="teacher-details.html">New Volunteer Request</a></li>
                  <li><a href="teacher-details.html">Volunteer Add</a></li>
                </ul>
              </li> -->
              <!-- Donor Area -->
              <!-- <li class="submenu">
                <a href="#"
                  ><i class="fas fa-book-reader"></i> <span> Donor</span>
                  <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="subjects.html">Subject List</a></li>
                  <li><a href="add-subject.html">Subject Add</a></li>
                  <li><a href="edit-subject.html">Subject Edit</a></li>
                </ul>
              </li> -->

              <!-- Donations Area -->
              <!-- <li class="submenu">
                <a href="#"
                  ><i class="fas fa-file-invoice"></i>
                  <span>Donation's</span> <span class="menu-arrow"></span
                ></a>
                <ul>
                  <li><a href="fees-collections.html">Donation Request</a></li>
                  <li><a href="expenses.html">Donation Receved</a></li>
                </ul>
              </li> -->

            </ul>
          </div>
        </div>
      </div>

      <!-- **************************  End Of SideBar ************************* -->
{% block content %}

{% endblock %}



    </div>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
  </body>

  <!-- ************ End of Body *************** -->
</html>


