{% extends 'orphanage/base.html' %}
{% load static %}
{% block content %}

         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Children</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html" style="font-weight:bold;color:red;">Total : {{count}}</a></li>
                        </ul>
                     </div>
                     <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'children_add' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0 datatable">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Name</th>
                                       <th>Gender</th>
                                       <th>DOB</th>
                                       <!-- <th>Parent Name</th>
                                       <th>Mobile Number</th> -->
                                       <th>Place Of Origin</th>
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for i in children %}
                                    <tr>
                                       <td>{{i.id}}</td>
                                       <td>
                                          <h2 class="table-avatar">
                                             <a href="{% url 'children_details' i.id %}" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="{{i.image.url}}" alt="User Image"></a>
                                             <a href="{% url 'children_details' i.id %}" style="color:red;">{{i.fname}} {{i.lname}}</a>
                                          </h2>
                                       </td>
                                       <td>{{i.gender}}</td>
                                       <td>{{i.date_birth}}</td>
                                       <td>{{i.district}},{{i.city}},{{i.address}},{{i.pin}}</td>
                                       <td class="text-right">
                                          <div class="actions">
                                             <!-- <a href="edit-student.html" class="btn btn-sm bg-success-light mr-2">
                                             <i class="fas fa-pen"></i>
                                             </a> -->
                                             <a href="{% url 'delete_children' i.id %}" class="btn btn-sm bg-danger-light">
                                             <i class="fas fa-trash"></i>
                                             </a>
                                          </div>
                                       </td>
                                    </tr>
                                    {% endfor %}
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
{% endblock %}
    