{% extends 'orphanage/base.html' %}
{% load static %}

{% block content %}

<style>
    .aa{
        width: 200px;
        border-radius: 5px;
        height:40px;
        font-weight:bold;
        margin-bottom: 10px;
    }
    .btns{
        border: none;
        color: #fff;
        background-color: rgb(255, 119, 0);
        border-radius:5px;
        height: 40px;
    }
    .title{
      margin-top: 100px;
      font-weight: bold;
      text-align: center;
    }
    .date_btn{
      border: none;
      background-color: #fff;
    }
    .card{
      font-weight:bold;
      font-size: 20px;
    }
</style>
<div class="container mt-5" style="margin-left: 220px;">
  <h4 class="title">Donation Analysis</h4>
    <div class="row" >
  
      <div class="col-md-8 mx-auto">
        <div class="card">
          
            <div class="btn-group" role="group" aria-label="Sales Chart Type">
            <button type="button" class="btn btn-secondary" onclick="salesChart.config.type='pie'; salesChart.update();">Pie</button>
            <button type="button" class="btn btn-secondary" onclick="salesChart.config.type='bar'; salesChart.update();">Bar</button>
            <button type="button" class="btn btn-secondary" onclick="salesChart.config.type='line'; salesChart.update();">Line</button>
            <button type="button" class="btn btn-secondary" onclick="salesChart.config.type='scatter'; salesChart.update();">scatter</button>
  
            </div>
      <canvas id="salesChart"></canvas>
        </div>
      </div>
      
      
  
    </div>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
  <script>
  
  
      var salesData = {
          labels: [
              {% for item in product_data %}
                  "{{ item.name }}",
              {% endfor %}
          ],
          datasets: [{
            label: "Total Amount",
            backgroundColor: "#544BE6",
            data: [
                {% for item in product_data %}
                    {{ item.total }},
                {% endfor %}
            ]
        }]
      };
  
      var chartOptions = {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      };
  
      var salesChart = new Chart("salesChart", {
          type: 'bar',
          data: salesData,
          options: chartOptions
      });


      var daywiseFilter = document.getElementById("daywise-filter");
  var dateBtn = document.querySelector(".date_btn");
  
  dateBtn.addEventListener("click", function() {
    if (daywiseFilter.style.display === "none") {
      daywiseFilter.style.display = "block";
    } else {
      daywiseFilter.style.display = "none";
    }
  });
      
  </script>
{% endblock %}

